html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, #1a4e81, #1a8170)
}

.paper {
  height: 500px;
  width: 500px;
  border-radius: 5px;
  position: relative;
  background-color: white;
  margin: 200px auto;
  -webkit-transform: 0.5s ease-in-out;
  -ms-transform: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0.3;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12),
              0 1px 4px rgba(0, 0, 0, 0.24);
}

.paper:hover {
  -webkit-transform: 0.5s ease-in-out;
  -ms-transform: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0.8;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.48),
              0 1px 4px rgba(0, 0, 0, 0.60);
}

/*.paper:hover .icons {
  -webkit-transform: 0.5s ease-in-out;
  -ms-transform: 0.5s ease-in-out;
  transition: 0.9s ease-in-out;
  opacity: 1;
}*/

.myinfo {
  position: relative;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  left: auto;
  right: auto;
}

.name {
  padding-top: 160px;
  padding-right: 5px;
  cursor: default;
  font-size: 40px;
  font-family: Quicksand;
  font-weight: 400;
}

.icons {
  /*opacity: 0;*/
  -webkit-transform: 0.5s ease-in-out;
  -ms-transform: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding-top: 120px;
  padding-left: 5px;
}

#email {
  padding: 10px;
  margin-bottom: -3px;
  position: relative;
  z-index: 1;
}

#github {
  width: 30px;
  height: 30px;
  padding: 10px;
  position: relative;
  z-index: 1;
}

#linkedin {
  width: 30px;
  height: 30px;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.overlay:after,
.overlay:before {
  border: 1px solid black;
  bottom: 1em;
  content: '';
  left: 1em;
  opacity: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.4s 0.2s;
  transition: 0.4s 0.2s
}

.overlay:before {
  border-bottom: none;
  border-top: none;
  left: 2em;
  right: 2em;
}

.overlay:after {
  border-left: none;
  border-right: none;
  bottom: 2em;
  top: 2em;
}

.overlay:hover:after,
.overlay:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 0.5;
}
